<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{title}}</title>
  <style>
    {%- for style in styles -%}
      {{ style }}
    {%- endfor -%}
  </style>
</head>
<body>
  <table class="face">

    <tr>
      <td colspan="2" class="title"><h1 lang="he">{{title}}</h1></td>
    </tr>

    <tr><td class="bgimage" colspan="2"></td></tr>

    <tr>
      <td class="langlist"></td>
      <td class="langlist">
        {%- for langcode in languages -%}
          <div lang="{{ langcode }}">{{langcode | langname | yiddish_letters }}</div>
        {%- endfor -%}
      </td>
    </tr>

  </table>


  {%- for i in range(book_length) -%}
    {%- set chapter_index = i + 1 -%}
    {%- set chapter_length = books[0][i] | count() -%}

      <h2>{{ chapter_index }} <span class="dot">∙</span> <span lang="he">{{ chapter_index | hebrew_index }}</span></h2>

      {%- for j in range(chapter_length) -%}
        {%- set verse_index = j + 1 -%}
        {%- set lang_num = books | count() -%}


        <table>



            <tr>

              <td class="l-index">
                  {{ verse_index }}
              </td>

              <td class="text">
                {%- for k in range(lang_num) -%}
                  {%- if books[k][i] | count() != 0  -%}
                    {%- set lang = languages[k] -%}
                    <p class="row_{{ k + 1 }}" lang="{{ lang }}">{{ books[k][i][j] | yiddish_letters | subs_brackets_he | subs_brackets }}</p>
                  {%- endif -%}
                {%- endfor -%}
              </td>

              <td class="r-index" lang="he">
                  {{ verse_index | hebrew_index }}
              </td>

            </tr>


        </table>


      {%- endfor -%}
      <div class="endbar">―</div>
  {%- endfor -%}
</body>
</html>
