body, html{
	margin: 0;
	padding: 0;
	font-size: 10pt;
}

h1{
	font-weight: normal;
}

h1, h2, .endbar {
	text-align: center;
}

.endbar{
	margin-top: 1em;
	font-size: 2em;
}

h2 {
	margin-top: -0.25em;
	margin-bottom: 0.75em;
	vertical-align: middle;
}

h2::before, h2::after{
	content: "—";
	padding: 0 0.5em;
	font-weight: normal;
	font-family: "Taamey Frank CLM" !important;
}

td {
	text-align: justify;
	line-height: 1.25;
}

table {
	page-break-inside: avoid !important;
	margin: 0 auto !important;
	width: 92vw;
	column-span: 0;
	font-size: 1em;
}


.note_1 {
	font-style: italic;
}


.face{
	background-image: url('../../../star-of-david_bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 12em;
	height: 11cm;
	margin: 0;
	padding: 0;
}
