body, html{
	margin: 0;
	padding: 0;
}
h1{
	font-weight: normal;
}

h1, h2, .endbar {
	text-align: center;
}

.endbar{
	margin-top: 1em;
	font-size: 2em;
}

h2 {
	margin-top: -0.25em;
	margin-bottom: 0.75em;
	vertical-align: middle;
}

h2::before, h2::after{
	content: "—";
	padding: 0 0.5em;
	font-weight: normal;
	font-family: "Taamey Frank CLM" !important;
}

td {
	text-align: justify;
	margin: 0.1em;
	line-height: 1.25;
}

table {
	page-break-inside: avoid !important;
	padding: 0 0.1em;
	margin: 0 auto;
	width: 95vw;
	column-span: 0;
}

.r-index, .l-index{
	width: 2.5em;
	vertical-align: top;
	padding-top: 0.25em;
	font-size: 12pt;

}

.note_1 {
	font-style: italic;
}


.row_1 {
	padding: 2pt 5pt;
	vertical-align: middle;
}

.row_2 {
	padding: 2pt 5pt;
	vertical-align: middle;
}

.star-of-david{
	height: 10pt;
	margin: 0 auto;
	display: inline-block;
}

.face{
	background-image: url('../../../star-of-david_bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200pt;
	height: 23cm;
	margin: 0;
	padding: 0;
}
