body {
  font-family: 'Crimson Pro';
  font-size: 19pt;
}

body * {
  line-height: inherit;
}

[lang=he], [lang=yi]{
  font-family: 'Shlomo';
  direction: rtl;
}

h1, h2  {
  text-align: center;
  font-weight: normal;
  font-family: 'Shlomo LB';
}

.face{
  text-align: center;
  width: 100vw;
  margin: 0 auto;
}

.title{
  height: 5cm;
  vertical-align: bottom;
}

.title h1 {
  border-bottom: 2px solid black;
  padding: 2em 0;
  margin: auto 2cm;
  margin-top: 3em;
  margin-bottom: 2em;
}

.bgimage {
    background-image: url('../../../star-of-david.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12em;
    height: 18cm;
}

.langlist {
  padding: 1em auto;
  width: 60%;
}

h2{
  break-before: always !important;
  break-after: avoid !important;
}

.dot{
  font-weight: bold !important;
  font-family: 'Crimson Pro';
  font-size: 1.5em;
}

h2::before, h2::after, .endbar{
	content: "—";
	padding: 0 0.5em;
	font-weight: normal;
  font-size: xx-large;
  text-align: center;
}

table {
  width: 100% !important;
  margin: 0 auto;
}

tr {
  page-break-inside: avoid !important;
}

td {
  padding: 0;
  margin: 0;
}

.r-index, .l-index {
  vertical-align: top;
  width: 2em;
  text-align: center;
  font-size: 0.75em;
  padding-top: 0.5em;
  line-height: 1.75;
  font-family: 'Shlomo';
}

.l-index{
  padding-right: 0.33em;
  text-align: center;
}

.r-index{
  padding-left: 0.33em;
  text-align: center;
}

.text{
  padding: 0;
  margin: 0;
}

.text p {
  
  vertical-align: top;
  padding: 0;
  margin: 0;
  hyphens: none;
  font-size: 1.5em;
  line-height: 1.5em;
}

.text p:not([lang=he]) {
text-align: justify;
  line-height: 1.2em;
  font-size: 1.1em;
}

.text b {
  font-weight: normal;
  color: black;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.33px;
  -webkit-text-stroke-color: black;
}

.row_1 {

}

.row_2[lang=yi] {
	font-family: "Taamey David CLM";
	line-height: 1.2em;
}


.note_1 {
	font-style: italic;
}

[lang=he] .note_1, [lang=he] i {
	font-style: normal;
	vertical-align: middle;
	font-size: 0.75em;
  color: gray;
}
